ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
  }
  
  li {
    float: left;
    margin: 10px 25px;
    
    
    
  }
  
  li .linkClass {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li .linkClass:hover:not(.active) {
    background-color: #111;
  }
  